footer {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authors-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github-img {
  width: 50px;
  height: 50px;
  margin: 15px;
}

.author {
  text-decoration: none;
  margin: 15px;
  transition: 0.3s;

  &:hover {
    color: #7dcddb;
    cursor: pointer;
    transition: 0.3s;
  }
}

.rs-school {
  width: 100px;
  height: 50px;
}
