*,*::before,*::after{box-sizing:border-box}ul[class],ol[class]{padding:0}body,h1,h2,h3,h4,p,ul[class],ol[class],li,figure,figcaption,blockquote,dl,dd{margin:0}body{min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed;line-height:1.5}ul[class],ol[class]{list-style:none}a:not([class]){text-decoration-skip-ink:auto}img{max-width:100%;display:block}article>*+*{margin-top:1em}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion: reduce){*{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}
.container{margin:0 auto;max-width:1200px;border:1px solid blue;height:100%;overflow:hidden}.app-center-block{border:1px solid red}
.front-block{min-height:calc(100vh - 200px)}
header{height:100px}header a{margin-right:15px}
footer{height:100px}
.authorization-block{min-height:calc(100vh - 200px)}
.textbook-block{min-height:calc(100vh - 200px)}
.game-sprint-block{min-height:calc(100vh - 100px)}
.game-audio-block{min-height:calc(100vh - 100px)}
.statistics-block{min-height:calc(100vh - 200px)}
.test-block{min-height:calc(100vh - 200px)}
