* {
  font-size: 20px;
  /* line-height: 24px; */
  /* letter-spacing: 5px; this can't be applied globally*/
  font-style: normal;
  font-weight: normal;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  color: #bebebe;
  margin: 0px;
  // background: #1e2733;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  height: 100%;
  // overflow: hidden;
}
