.game-audio-block {
  min-height: calc(100vh - 100px);
  // background: linear-gradient(20deg, #425670 10%, #1e2733 45%);
}

.sprint-settings-page,
.audio-game,
.sprint-game-modal {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 900px;
    width: 90%;
    text-align: center;
    // height: 80vh;
    padding: 100px 0;
    margin: 0 auto;
}

.start-audio-btn {
  width: 50%;
  border: 2px solid #edd874;
  height: 50px;
  border-radius: 40px;
  font-size: 28px;
}

.audio-word-player {
  margin: 100px 20px 50px;
}

.audio-word-player-btn {
  width: 100px;
  height: 100px;
  border: 3px solid;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  animation: floating 5s infinite;
}

@keyframes floating {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
    color: #edd874;
  }
  100% {
    transform: scale(1);
  }
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  height: 150px;
}

.image-container .img {
  border-radius: 50%;
  width: 17%;
  transition: all 0.3s ease-out 0s;
}

.audio-words {
  width: 900px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 100px;
}

.audio-word-btn {
  width: 150px;
  outline: none;
  border: 2px solid #edd874;
  border-radius: 30px;
  transition: background-color .5s ease;
}

.skip-btn {
  width: 150px;
  outline: none;
  border: 1px solid #edd874;
  background-color: #edd874;
  border-radius: 30px;
  transition: background-color .5s ease;
  color: #1e2733;
}
