.game-audio-block {
  min-height: calc(100vh - 100px);
}

.sprint-settings-page,
.audio-game,
.sprint-game-modal {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    width: 90%;
    text-align: center;
    // height: 80vh;
    padding: 100px 0;
    margin: 0 auto;
}

.audio-word-player {
  margin: 100px 20px;
}

.audio-word-player-btn {
  width: 100px;
  height: 100px;
  border: 3px solid;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
}

.audio-words {
  width: 900px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 100px;
}

.audio-word-btn {
  width: 150px;
  outline: none;
  border: 1px solid #00ff43;
  border-radius: 30px;
  transition: background-color .5s ease;
}

.skip-btn {
  width: 150px;
  outline: none;
  border: 1px solid #00ff43;
  background-color: #00ff43;
  border-radius: 30px;
  transition: background-color .5s ease;
}
