.game-audio-block {
  min-height: calc(100vh - 100px);
  // background: linear-gradient(20deg, #425670 10%, #1e2733 45%);
}

.sprint-settings-page,
.audio-game,
.sprint-game-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 900px;
  width: 90%;
  text-align: center;
  padding: 100px 0;
  margin: 0 auto;
}

.start-btn {
  width: 50%;
  border: none;
  height: 50px;
  border-radius: 40px;
  margin-top: 50px;
  font-size: 28px;
  transition: background-color 0.5s ease;
  color: #1e2733;
  outline: none;
}

.start-btn:hover {
  background-color: #edd874;
}

.audio-word-player {
  margin: 30px 20px 30px 20px;
}

.audio-word-player-btn {
  width: 100px;
  height: 100px;
  border: 3px solid;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  animation: floating 5s infinite;
}

@keyframes floating {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    color: #edd874;
  }
  100% {
    transform: scale(1);
  }
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  height: 150px;
}

.image-container .img {
  border-radius: 50%;
  width: 17%;
  transition: all 0.3s ease-out 0s;
  object-fit: cover;
}

.audio-words {
  width: 900px;
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  margin-bottom: 100px;
}

.audio-word-btn {
  width: 150px;
  outline: none;
  border: 2px solid #edd874;
  background-color: #1e2733;
  border-radius: 30px;
  transition: background-color 0.5s ease;
  @media (max-width: 1000px) {
    font-size: 16px;
    width: 140px;
    height: 3.2em;
  }
}

.audio-word-btn.correct {
  background-color: rgb(73, 113, 65);
  color: rgb(30, 39, 51);
  border: 2px solid rgb(73, 113, 65);
  box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset, rgb(0 0 0 / 15%) 0px -36px 30px 0px inset,
    rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, rgb(0 0 0 / 6%) 0px 2px 1px,
    rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0 / 9%) 0px 8px 4px, rgb(0 0 0 / 9%) 0px 16px 8px,
    rgb(0 0 0 / 9%) 0px 32px 16px;
}

.audio-word-btn.incorrect {
  background-color: rgb(233, 84, 47);
  color: rgb(30, 39, 51);
  border: 2px solid rgb(233, 84, 47);
  box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset, rgb(0 0 0 / 15%) 0px -36px 30px 0px inset,
    rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, rgb(0 0 0 / 6%) 0px 2px 1px,
    rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0 / 9%) 0px 8px 4px, rgb(0 0 0 / 9%) 0px 16px 8px,
    rgb(0 0 0 / 9%) 0px 32px 16px;
}

.audio-word-btn.active {
  background-color: #ffffff52 !important;
}

.skip-btn {
  width: 150px;
  height: 50px;
  outline: none;
  border: 1px solid #edd874;
  background-color: #edd874;
  border-radius: 30px;
  transition: background-color 0.5s ease;
  color: #1e2733;
  margin-top: 36px;
}

.modal-upper-btns {
  background-color: #fff;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  border-bottom: 1px solid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.to-go-btn {
  position: relative;
  width: 190px;
  border: none;
  background-color: transparent;
  transition: all 1s ease-out;
  color: #1e2733;
}

.to-go-btn:hover {
  color: #edd874;
}

.to-go-btn:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -2px;
  left: 25px;
  width: 127px;
  height: 3px;
  transition: all 0.5s ease;
}

.to-go-btn:hover::after {
  background-color: #edd874;
  color: #edd874;
}

.to-go-btn.active {
  color: #edd874;
}

.to-go-btn.active::after {
  background-color: #edd874;
}

#keyboard-layout {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  background: #0000003b;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}

.keyboard-row {
  display: flex;
  gap: 10px;
}

.keyboard-text {
  font-size: 14px;
  align-self: center;
  flex: 2;
}

.keyboard-symbol {
  display: flex;
  flex: 1;
  justify-content: center;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}

.word-list-container {
  display: none;
}

.word-list-wrong,
.word-list-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.word-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.word-item-text {
  color: #1e2733;
}

.word-list-title {
  font-size: 26px;
  margin: 15px 0;
  color: #1e2733;
}

.word-item-sound {
  display: flex;
}

.word-item-player {
  color: #edd874;
  width: 30px;
  height: 30px;
}

@media (max-width: 900px) {
  .audio-word-btn {
    margin: 5px;
  }
  .image-container .img {
    width: 50%;
    max-width: 150px;
  }
  .audio-words {
    max-width: 360px;
    flex-wrap: wrap;
  }
}
