.statistic-page {
  max-width: 1200px;
  margin: 0 auto;
}

.statistic-title {
  text-align: center;
  font-size: 62px;
  font-weight: bold;
  color: #7dcddb;
}

.statistics-block {
  min-height: calc(100vh - 140px);
}

.daily-statistic {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.statistic-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
}

.statistic-img {
  margin-bottom: 50px;
  max-width: 490px;
  width: 100%;
}

.game-statistic {
  max-width: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 20px;
}

.statistic-card {
  max-width: 300px;
  min-height: 200px;
  background: #fff;
  border-radius: 65px;
}

.stat-left {
  margin-top: 10px;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
}

.stat-right {
  margin-top: 10px;
  border-top-right-radius: 65px;
  border-bottom-right-radius: 65px;
}

.game-title {
  background: #ffe97d;
  width: 270px;
  height: 60px;
  font-size: 28px;
  font-weight: bold;
  color: #7dcddb;
  overflow: hidden;
  padding: 10px 60px;
}

.left-title {
  border-top-left-radius: 70px;
}

.right-title {
  border-top-right-radius: 70px;
}

.statistic-card > p {
  background: #fff;
  width: 230px;
  color: #19212b;
  overflow: hidden;
  padding: 0px 10px;
  margin: 25px 0 0 10px;
}

.svgIcon {
  background: #fff;
  fill: #7dcddb;
  width: 1em;
  height: 1em;
}

.count {
  background: none;
  color: #19212b;
}

.general-statistics {
  max-width: 700px;
  display: flex;
  justify-content: inherit;
  align-items: center;
  flex-wrap: wrap;
}

.general-learned-words {
  margin: 0px 30px;
}

.general-learned-words > h5 {
  font-size: 28px;
}

.general-count {
  font-size: 92px;
  font-weight: bold;
  text-align: center;
  color: #7dcddb;
  margin: 30px 0px;
}

.long-term-statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.long-term-statistic-title {
  width: fit-content;
  font-size: 62px;
  font-weight: bold;
  color: #7dcddb;
  margin: 70px 0 50px 0;
}

.canvas-box {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.schedule-line {
  width: 900px !important;
  margin: 40px 0px;
  background: #fff;
}

.schedule-bar {
  width: 900px !important;
  margin: 40px 0px;
  background: #fff;
  align-self: end;
}

.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  height: 100px;
  font-size: 20px;
  text-align: center;
  color: #7dcddb;
  a {
    padding: 5px;
  }
}
