.front-block {
  width: 100%;
  min-height: calc(100vh - 140px);
}
.advantages-block {
  width: 100%;
}

.info-block {
  width: 100%;
  background: #fff;
}

.main {
  width: 100%;
  position: relative;
}

.main-page {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto 30px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.greetings-box {
  height: fit-content;
  width: 60%;
  p {
    padding: 10px;
  }
  @media (max-width: 800px) {
    width: 100%;
  }
}

.greetings {
  font-size: 72px;
  line-height: 75px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 15px;
  padding: 10px;
  @media (max-width: 1000px) {
    font-size: 30px;
    line-height: unset;
  }
}

.learn-more {
  width: 150px;
  height: 60px;
  background: #edd874;
  border: 1px solid #edd874;
  border-radius: 20px;
  letter-spacing: 2px;
  color: #19212b;
  margin: 30px 0 0 150px;
  transition: 0.3s;

  &:hover {
    width: 160px;
    height: 70px;
    font-size: 28px;
    background: #f1d64c;
    border: 1px solid #f1d64c;
    margin: 20px 0 0 150px;
    cursor: pointer;
    transition: 0.3s;
  }
}

.main-img {
  max-width: 40%;
  @media (max-width: 800px) {
    max-width: 80%;
  }
}

.advantages {
  flex-wrap: wrap;
  max-width: 1300px;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
  padding: 20px;
  margin: 0 10px 20px 10px;
  @media (max-width: 600px) {
    padding: 10px;
    font-size: 14px;
  }
}

.advantage {
  background: none;
  font-weight: bold;
  color: #2e3844;
  padding: 0 0 0 20px;
  max-width: 100%;
  margin-top: 10px;
}

.about-us-box {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.our-team-title {
  font-size: 58px;
  font-weight: bold;
  letter-spacing: 10px;
  color: #7dcddb;
  text-align: center;
  margin: 30px auto 30px auto;
}

.team-card-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
  padding: 15px;
}

.teammate {
  box-shadow: 0 0 20px rgb(0 0 0 / 70%);
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background: #ffe97d;
  border: 1px solid #ffe97d;
  border-radius: 20px;
  box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
  padding: 20px;
  position: relative;
  transition: 1s;

  &:hover {
    transform: scale(1.04);
  }
}

.teammate-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.name {
  padding: 5px;
  font-size: 28px;
  font-weight: bold;
  color: #2e3844;
  transition: 0.3s;

  &:hover {
    color: #7dcddb;
    cursor: pointer;
    transition: 0.3s;
  }
}

.position {
  width: fit-content;
  background: #7dcddb;
  border-radius: 20px;
  font-weight: bold;
  color: #ffffff;
  padding: 0 10px;
}

.contribution-description {
  background: #ffe97d;
  padding: 5px;
  font-size: 20px;
  color: #2e3844;
}

@media (max-width: 1000px) {
}
