.container:focus, 
.game-sprint-block:focus {
  outline: none;
}

.game-sprint-block {
  min-height: calc(100vh - 150px);
}

.sprint-settings-page,
.sprint-game,
.sprint-game-modal {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 900px;
    width: 90%;
    text-align: center;
    height: 80vh;
    padding: 100px 0;
    margin: 0 auto;
}

.sprint-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sprint-settings-container.wide {
  margin-bottom: 40px;
}

.sprint-settings-title {
  font-size: 80px;
  margin-bottom: 40px;
}

.sprint-settings-description {
  font-size: 40px;
  letter-spacing: 2px;
}

.sprint-settings-title-levels {
  font-size: 32px;
}

.sprint-settings-levels-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sprint-settings-levels-btns input[type=text] {
  font-size: 50px;
}

.start-btn {
  width: 50%;
  border: none;
  height: 50px;
  border-radius: 40px;
  margin-top: 50px;
  font-size: 28px;
  transition: background-color .5s ease;
  color: #1e2733;
  outline: none;
}

.start-btn:hover {
  background-color: #edd874;
}

.level-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 30px;
  font-size: 26px;
  opacity: 0.7;
  border: #fff solid 2px;
  flex-shrink: 0;
  margin: 10px;
  cursor: pointer;
  transition: all ease-in-out .3s;
  -webkit-appearance: none;
  display: none;
}

.level-btn:hover {
  opacity: 1;
  color: #7dcddb;
  border: #7dcddb solid 2px;
}

.level-circle {
  width: 52px;
  height: 52px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  transition: background-color .5s ease;
  cursor: pointer;
}

input[type="radio"]:checked + .level-circle {
  background-color: #edd874;
  color: #1e2733;
  border: none;
}

.timer {
  display: flex;
  flex-direction: column;
  font-size: 60px;
}

.timer-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  color: #edd874;
}

.score-info,
.score-text,
.score-count,
.middle-word {
  font-size: 36px;
}

.en-word,
.ru-word {
  font-size: 58px!important;
  padding: 20px;
}

.words-combinations {
  padding-bottom: 50px;
}

.answer-btns {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.right-btn, 
.wrong-btn {
  border: none;
  width: 90px;
  height: 50px;
  border-radius: 30px;
  transition: box-shadow ease 0.3s;
}

.right-btn:hover, 
.wrong-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.right-btn {
  background-color: #609556;
}

.wrong-btn {
  background-color: #E9542F;
}

.sprint-game-modal-content {
  max-width: 500px;
  width: 90%;
  // height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 5px rgb(13 13 13 / 4%);
}

.score-alert {
  position: relative;
  width: 20px;
  height: 20px;
}

.score-alert ion-icon {
  position: absolute;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  left: 0;
}

.alert-right {
  opacity: 0;
  color: #609556;
}

.alert-wrong {
  opacity: 0;
  color: #E9542F;
}

.fade-out {
  animation: fadeOut ease-in 1s;
  animation-fill-mode: forwards;
  -webkit-animation: fadeOut ease-in 1s;
}

@keyframes fadeOut1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal-upper-btns {
  background-color: #fff;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  border-bottom: 1px solid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 20px 0;
}

.modal-results {
  background-color: #fff;
}

.to-go-btn {
  position: relative;
  width: 190px;
  border: none;
  background-color: transparent;
  transition: all 1s ease-out;
  color: #1e2733;
}

.to-go-btn:hover {
  color: #edd874;
}

.to-go-btn:after {
  content: '';
  display: block;
  position: absolute;
  right: 0; 
  bottom: -1px; 
  left: 25px;
  width: 127px;
  height: 1px;
  transition: all .5s ease;
}

.to-go-btn:hover::after {
  background-color: #edd874;
  color: #edd874;
}

.card {
  position: relative;
  width: 350px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

.result-statistics {
  padding-bottom: 20px;
}

.result-message, 
.result-statistics,
.result-statistics span {
  background-color: #fff;
  color: #1e2733;
}

.box {
  background-color: #fff;
}

.percent{
  position:relative;
  width:150px;
  height:150px;
  border-radius:50%;
  box-shadow: inset 0 0 50px #000;
  z-index:1000;
}

.percent .num {
  display: flex;
  flex-direction: column;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
}

.percentage {
  color:#777;
  font-weight:700;
  font-size:16px;
  transition:0.5s;
  z-index: 111111;
  background-color: #fff;
}

.percent .num p span {
  color:#777;
  font-size:24px;
  transition:0.5s;
  background-color: #fff;
}

.learned-words {
  font-size: 16px;
  color: #777;
  z-index: 111111;
  background-color: #fff;
}

.text {
  position: relative;
  color: #1e2733;
  margin: 20px 0;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
  background-color: #fff;
}

.total-score-text {
  font-size: 42px;
  color: #edd874;
}

svg {
  position:relative;
  background-color: #fff;
  width:150px;
  height:150px;
  z-index:1000;
}

svg circle {
  width:100%;
  height:100%;
  fill:none;
  stroke:#777;;
  stroke-width:10;
  stroke-linecap:round;
  transform:translate(5px,5px);
}
svg circle:nth-child(2) {
  stroke-dasharray:440;
  stroke-dashoffset:440;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset:calc(440 - (440 * 90) / 100);
  stroke:#edd874;
}

.modal-lower-btns {
  background-color: #fff;
  display: flex;
  width: 300px;
  height: 40px;
  justify-content: space-around;
  margin: 40px 0;
}

.module-lower-btn {
  width: 130px;
  border: solid 1px #edd874;
  background-color: transparent;
  border-radius: 5px;
  font-size: 16px;
  color: #1e2733;
  transition: background-color ease .3s;
}

.module-lower-btn:hover {
  background-color: #edd874;

}

.module-lower-btn-ref {
  background-color: #fff;
  text-decoration: none;
  font-size: 16px;
  color: #1e2733;
  transition: background-color ease .3s;
}

.module-lower-btn:hover .module-lower-btn-ref{
  background-color: #edd874;

}

#keyboard-layout {
  position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    background: #0000003b;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

.keyboard-row {
  display: flex;
  gap: 10px;
}

.keyboard-text {
  font-size: 14px;
  align-self: center;
  flex: 2;
}

.keyboard-symbol {
  display: flex;
  flex: 1;
  justify-content: center;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}
