.authorization-box {
  width: 100%;
  height: 930px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.authorization {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  border-radius: 30px;
  padding: 80px 50px;
}

.authorization-title {
  background: none;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  color: #7dcddb;
}

.inputs-name {
  background: none;
  width: 100%;
  color: #ffffff;

  & > span {
    font-size: 16px;
    color: rgb(139, 11, 11);
  }
}

.inputs {
  height: 40px;
  background: rgb(228, 232, 236);
  border: 1px solid #19212b;
  border-radius: 10px;
  padding: 10px;
  color: #2e3844;
}

.text-input {
  width: 70%;
}

.password-input {
  width: 61%;
}

.register-btn,
.signIn-btn {
  width: 250px;
  height: 60px;
  background: #ffe97d;
  border: 1px solid #ffe97d;
  border-radius: 20px;
  padding: 10px;
  color: #2e3844;
  transition: 0.3s;

  &:hover {
    width: 250px;
    height: 60px;
    padding: 5px;
    background: #ffe252;
    border: 1px solid #ffe250;
    font-size: 32px;
  }
}

.view {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: #7dcddb;
  }
}
